@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Heebo|Unna|Libre+Franklin');

@supports(grid-area:auto){

html, body {
  margin: 0px;
  padding: 0px;
}

#navdiv {
  width: 100%;
  height: 60px;
  background-color: black;
} /* nav bar background */

#searchbutton {
  margin-top: 0px;
  background-color: #1f1f1f;
  border-color: #444;
  border-radius: 3px;
  border-width: .5px;
  border-style: solid;
  height: 36px;
  width: 36px;
  position: relative;
  top: 12px;
  left: 15px;
} /* all items, unless marked otherwise, are styled to adjust position, color, size, and other aesthetics. Any unique functions will be commented on individually below */

#searchbutton:hover, #sections:hover, #signinbutton:hover {
  border-color: white;
  transition: .5s;
} /* on hover, change outline colo of these buttons */

#searchicon {
  height: 16px;
  width: auto;
  margin: 10px;
}

#sections {
  background-color: #1f1f1f;
  border-color: #444;
  border-radius: 3px;
  border-width: .5px;
  border-style: solid;
  height: 36px;
  width: 100px;
  position: relative;
  bottom: 25px;
  margin-left: 65px;
}

#sectionstxt {
  margin: 0px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
  width: 60px;
}

#menuicon {
  height: 16px;
  width: auto;
  margin-left: 70px;
  position: relative;
  bottom: 17px;
}

#mainlogo {
  height: 44px;
  width: auto;
  position: relative;
  left: 43.5%;
  bottom: 64px;
}

#signinbutton {
  background-color: #1f1f1f;
  border-color: #444;
  border-radius: 3px;
  border-width: .5px;
  border-style: solid;
  height: 36px;
  width: 90px;
  position: relative;
  bottom: 110px;
  left: 82%;
}

#signin {
  margin: 0px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 12px;
  width: 60px;
}

#silhouette {
  height: 16px;
  position: relative;
  left: 60px;
  bottom: 16px;

}

#subscriptionbutton {
  width: 10%;
  background-color: #1955a5;
  height: 36px;
  border-radius: 3px;
  border-color: #3d73d5;
  border-width: 1px;
  border-style: solid;
  position: relative;
  left: 89%;
  bottom: 148px;
}

#subscriptionbutton:hover,  #subbutton1:hover, #emailbutton:hover {
  background-color: #3d73d5;
  transition: .5s;
} /* on hover, blue buttons change shades */

#subscriptiontext {
  margin: 0px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

#socialbar {
  height:82%;
  width: 3.5%;
  position: fixed;
  border: 1px solid #dadada;
  top: 12%;
  border-radius: 0px 4px 4px 0px;
} /* position fixed so bar stays on side of page and follows you like real website. Was considering doing this with the nav bar at the top, but could not make it function in a pretty enough way to make it better than a stationary nav */

#tophalf {
  height: 73%;
  width: 100%;
  border-radius: 0px 4px 0px 0px;
  border-bottom: 1px solid #dadada
}

#bottomhalf {
  height: 26.8%;
  width: 100%;
  background-color: #eaeaea;
  border-radius: 0px 0px 4px 0px;
}

.iconholder {
  height: 50px;
}

.icons {
  height: 33%;
  width: auto;
  margin: 33% 33% 33% 33%;
  border-radius: 2px;
}

.icons:hover {
  opacity: 0.8;
  transition: 0.25s;
} /* icons fade a little on hover */

#griddiv {
  display: grid;
  width: 100%;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 235px 3900px 600px;
  grid-template-areas:
    "titl titl titl titl titl titl"
    "main main main main side side"
    "recc recc recc recc side side";
} /* main grid layout */

#titlediv {
  grid-area: titl;
}

#articletitle {
  margin: 0px;
  font-family: 'Old Standard TT', serif;
  font-size: calc(21px + 2.5vw); /* coding used by WAPO - allows font to adjust with viewport size, enhances responsiveness */
  color: #2a2a2a;
}

#articlecategory {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  color: #1955a5;
}

#titleholder {
  width: 80%;
  margin-left: 10%;
  height: 180px;
  border-bottom: 1px solid #dadada;
}

#maindiv {
  grid-area: main;
  border-top: 0px;
  margin-left: 15%;
  margin-right: 5%;
}

.greycaption {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Heebo', sans-serif;
  margin: 0px 0px 20px 0px;
  width: 100%;
  color: #6a6a6a;
}

#lunchpicture {
  width: 100%;
}

.authg {
  margin-bottom: 5px;
} /* specific class for text in author info section, for positioning */

.maintext {
  font-family: 'Unna', serif;
  font-size: calc(16.4px + 0.375vw); /* coding used by WAPO - allows font to adjust with viewport size, enhances responsiveness */
  line-height: calc(1.5em + .3333vw); /* coding used by WAPO - allows font to adjust with viewport size, enhances responsiveness */
  color: #2a2a2a;
  margin-bottom: 20px;
  margin-left: 0%;
}

table {
  font-family: 'Heebo', sans-serif;
  width: 100%;
}

.graphic {
  width: 100%;
}

.chart {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 500px;
}

#lineGraph, #barGraph {
  margin-left: 10%;
}

#EBEA{
  margin-top: 20px;
  border-bottom: 2px solid #dadada;
}

#email {
  width: 10%;
  margin-left: 45%
}

#ebeaheader {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
}

#ebeasubhead {
  font-family: 'unna', serif;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color:  #666;
}

#emailinput2 {
  width: 70%;
  border-style: solid;
  border-color: #dadada;
  border-width: 1px;
  border-radius: 3px;
  height: 44px;
  font-family: 'Heebo', sans-serif;
  padding-left: 1%;
  font-size: 16px;
  color: #5a5a5a;
}

#signuptext {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-top: 12px;
}

#sidediv {
  grid-area: side;
  border-top: 0px;
  margin-right: 30%;
  padding-left: 8.5%;
  padding-right: 2.5%;
  border-left: 1px solid #dadada;
}

#blackbox {
  width: 2rem;
  height: 0.25rem;
  background-color: #2a2a2a;
}

.sansserifheader {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

.blue {
    color: #1955a5;
    font-weight: 700;
}

#authorname:hover {
  text-decoration: underline;
} /* author text gets underline on hover, like a link, */

.footerlinks:hover, .mostreadtitle:hover, .recctitle:hover {
  color: #1955a5;
  transition: .5s;
} /* these types of "links" become blue when hovered over */

#mostreadbox {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-radius: 0px 0px 3px 3px;
  border-color: #dadada;
  margin-bottom: 60px;
}

.mostreadentry {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dadada;
  margin-left: 5%;
  margin-right: 5%;
}

.mostreadnumber {
  font-family: 'Libre Franklin', san-serif;
  font-weight: bold;
  font-size: 22px;
  color: #2a2a2a;
  margin-bottom: 0px;
  margin-top: 3%;
  width: 20px;
}

.mostreadtitle {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 0;
  color: #6a6a6a;
  margin-left: 30px;
  position: relative;
  bottom: 40px;
  width: 60%;
}

#mr1 {
  height: 60px;
}

#mr2{
  height: 90px;
}

#mr3{
  height: 60px;
}

#mr4{
  height: 90px;
}

#mr5{
  height: 90px;
}

#subscriptionbox {
  border-color: #dadada;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  border-radius: 0px 0px 2px 2px;
  height: 320px;
}

#subsimage {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 2%;
}

#substitle {
  margin: 0px;
  font-family: 'Old Standard TT', serif;
  font-size: 28px;
  color: #2a2a2a;
  width: 80%;
  margin-left: 10%;
}

#subbutton1 {
  background-color: #1955a5;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 44px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 2px;
}

#sb1txt, #sb2txt {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

#subbutton2 {
  height: 44px;
  border-style: solid;
  border-color: #dadada;
  border-width: 1px 1px 2px 1px;
  border-radius: 0px 0px 2px 2px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

#emailbox {
  border-style: solid;
  border-color: #dadada;
  border-width: 0px 0px 1px 0px;
}

#emailtitle {
  margin-top: 50px;
  margin-bottom: 10px;
}

#emaildesc {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Heebo', sans-serif;
  margin: 0px 0px 20px 0px;
  width: 100%;
  color: #6a6a6a;
}

#emailinput {
  width: 66%;
  border-style: solid;
  border-color: #dadada;
  border-width: 1px;
  border-radius: 3px;
  height: 44px;
  font-family: 'Heebo', sans-serif;
  padding-left: 5%;
  font-size: 16px;
  color: #5a5a5a;
}

#emailbutton {
  width: 24%;
  height: 48px;
  background-color: #1955a5;
  border-radius: 2px;
  position: relative;
  bottom: 64px;
  left: 74%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#addtext {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-top: 12px;
}

#webaddress {
  color: #2a2a2a;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0px;
}

#copyright {
color: #2a2a2a;
font-size: 14px;
font-family: 'Heebo', sans-serif;
margin-top: 10px;
margin-bottom: 30px;
}

.footerlinks {
  color: #2a2a2a;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

#reccdiv {
  grid-area: recc;
  margin-left: 15%;
}

#tpr {
  margin-top: 10px;
  margin-bottom: 25px;
}

.reccholder {
  border-color: #dadada;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-right: 5%;
  margin-top: 15px;
  height: 150px;
}

.recctitle {
  font-family: 'Old Standard TT', serif;
  font-size: 24px;
  margin: 0px 33% 0px 0px;
}

.reccdescription {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  margin: 10px 33% 0px 0px;
}

.recctimestamp {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width:768px) { /* media query for mobile sizes */

  #navdiv {
    width: 100%;
    height: 60px;
    background-color: black;
  }

  #searchbutton { /* many items not displayed on mobile version */
    display: none;
  }

  #navdiv {
    width: 100%;
    height: 60px;
    background-color: black;
  } /* nav bar background */

  #searchicon {
    display: none;
  }

  #sections {
    background-color: black;
    border: none;
    height: 36px;
    width: 36px;
    position: relative;
    top: 10px;
    margin-left: 10px;
  }

  #sectionstxt {
    display: none;
  }

  #menuicon {
    height: 20px;
    width: auto;
    position: relative;
    top: 8px;
    right: 61px;
  }

  #mainlogo {
    height: 44px;
    width: auto;
    position: relative;
    left: 23.5%;
    bottom: 25px;
  }

  #signinbutton {
    background-color: black;
    border: none;
    height: 36px;
    width: 36px;
    position: relative;
    bottom: 75px;
    left: 82%;
  }

  #signin {
    display: none;
  }

  #silhouette {
    height: 20px;
    position: relative;
    left: 10px;
    top: 10px;

  }

  #subscriptionbutton {
    display: none;
  }

  #subscriptiontext {
    display: none;
  }

  #socialbar {
    display: none;
  }

  #tophalf {
    display: none;
  }

  #bottomhalf {
    display: none;
  }

  .iconholder {
    display: none;
  }

  .icons {
    display: none;
  }

  #griddiv {
    display: grid;
    width: 100%;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 3650px 900px 1600px;
    grid-template-areas:
      "titl"
      "main"
      "recc"
      "side"
  }

  #titlediv {
    grid-area: titl;
  }



  #articletitle {
    margin: 0px;
    font-family: 'Old Standard TT', serif;
    font-size: calc(21px + 2.5vw); /* coding used by WAPO - allows font to adjust with viewport size, enhances responsiveness */
    color: #2a2a2a;
  }

  #articlecategory {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    color: #1955a5;
  }

  #titleholder {
    width: 90%;
    margin-left: 5%;
    height: 100px;
    border-bottom: none;
  }


  #maindiv {
    grid-area: main;
    border-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
  }



  .greycaption {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Heebo', sans-serif;
    margin: 0px 5% 20px 5%;
    width: 90%;
    color: #6a6a6a;
  }

  #lunchpicture {
    width: 100%;
  }
  .graphic {
    width: 100%;
  }

  #lineGraph, #barGraph {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: auto;
  }

  .authg {
    margin-bottom: 5px;
  }

  .maintext {
    font-family: 'Unna', serif;
    font-size: calc(16.4px + 0.375vw); /* coding used by WAPO - allows font to adjust with viewport size, enhances responsiveness */
    line-height: calc(1.5em + .3333vw); /* coding used by WAPO - allows font to adjust with viewport size, enhances responsiveness */
    margin: 0px 5% 20px 5%;
    color: #2a2a2a;
    width: 90%;
  }


  #tablediv {
    display: none;
  }

  #sources {
    margin-left: 5%;
  }

  #EBEA{
    margin-top: 20px;
    height: 275px;
    border-bottom: 2px solid #dadada;
  }

  #email {
    width: 20%;
    margin-left: 40%
  }

  #ebeaheader {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin: 0% 5% 0% 5%;
  }

  #ebeasubhead {
    font-family: 'unna', serif;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin: 0% 5% 0% 5%;
    color: #666;
  }

  #emailinput2 {
    width: 50%;
    border-style: solid;
    border-color: #dadada;
    border-width: 1px;
    border-radius: 3px;
    height: 44px;
    font-family: 'Heebo', sans-serif;
    margin-left: 10%;
    font-size: 16px;
    color: #5a5a5a;
  }

  #signuptext {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 12px;
  }

  #sidediv {
    grid-area: side;
    border-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    border: none;
  }

  #blackbox {
    width: 2rem;
    height: 0.25rem;
    background-color: #2a2a2a;
  }

  .sansserifheader {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
  }

  .blue {
      color: #1955a5;
      font-weight: 700;
  }

  #mostreadbox {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    border-radius: 0px 0px 3px 3px;
    border-color: #dadada;
    margin-bottom: 60px;
    width: 100%;
    margin-left: 0%;
  }

  .mostreadentry {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #dadada;
    margin-left: 5%;
    margin-right: 5%;
  }

  .mostreadnumber {
    font-family: 'Libre Franklin', san-serif;
    font-weight: bold;
    font-size: 22px;
    color: #2a2a2a;
    margin-bottom: 0px;
    margin-top: 3%;
    width: 20px;
  }

  .mostreadtitle {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Heebo', sans-serif;
    font-weight: 0;
    color: #6a6a6a;
    margin-left: 30px;
    position: relative;
    bottom: 40px;
    width: 60%;
  }

  #mr1 {
    height: 60px;
  }

  #mr2{
    height: 90px;
  }

  #mr3{
    height: 60px;
  }

  #mr4{
    height: 90px;
  }

  #mr5{
    height: 90px;
  }

  #subscriptionbox {
    border-color: #dadada;
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    border-radius: 0px 0px 2px 2px;
    height: 340px;
  }

  #subsimage {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 2%;
  }

  #substitle {
    margin: 0px;
    font-family: 'Old Standard TT', serif;
    font-size: 28px;
    color: #2a2a2a;
    width: 80%;
    margin-left: 10%;
  }

  #subbutton1 {
    background-color: #1955a5;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 44px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 2px;
  }

  #sb1txt, #sb2txt {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    text-align: center;
  }

  #subbutton2 {
    height: 44px;
    border-style: solid;
    border-color: #dadada;
    border-width: 1px 1px 2px 1px;
    border-radius: 0px 0px 2px 2px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }

  #emailbox {
    border-style: solid;
    border-color: #dadada;
    border-width: 0px 0px 1px 0px;
  }

  #emailtitle {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #emaildesc {
    font-size: 15px;
    line-height: 18px;
    font-family: 'Heebo', sans-serif;
    margin: 0px 0px 20px 0px;
    width: 100%;
    color: #6a6a6a;
  }

  #emailinput {
    width: 66%;
    border-style: solid;
    border-color: #dadada;
    border-width: 1px;
    border-radius: 3px;
    height: 44px;
    font-family: 'Heebo', sans-serif;
    padding-left: 5%;
    font-size: 16px;
    color: #5a5a5a;
  }

  #emailbutton {
    width: 24%;
    height: 48px;
    background-color: #1955a5;
    border-radius: 2px;
    position: relative;
    bottom: 64px;
    left: 65%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #addtext {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 12px;
  }

  #webaddress {
    color: #2a2a2a;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  #copyright {
  color: #2a2a2a;
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
  }

  .footerlinks {
    color: #2a2a2a;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
  }

  #reccdiv {
    grid-area: recc;
    margin-left: 5%;
  }

  #tpr {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .reccholder {
    border-color: #dadada;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-right: 5%;
    margin-top: 15px;
    height: 250px;
  }

  .recctitle {
    font-family: 'Old Standard TT', serif;
    font-size: 24px;
    margin: 0px 33% 0px 0px;
  }

  .reccdescription {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    margin: 10px 33% 0px 0px;
  }

  .recctimestamp {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    color: #666
  }



}



}
