@import url('https://fonts.googleapis.com/css?family=Arapey|Old+Standard+TT|Heebo|Unna|Libre+Franklin');

@supports(grid-area:auto){

html, body {
  margin: 0px;
  padding: 0px;
}

#navdiv {
  width: 100%;
  height: 60px;
  background-color: black;
}

#behindnavdiv {
  width: 100%;
  height: 60px;
}

#socialbar {
  height:82%;
  width: 3.5%;
  position: fixed;
  border: 1px solid #dadada;
  top: 12%;
  border-radius: 0px 4px 4px 0px;
}

#tophalf {
  height: 73%;
  width: 100%;
  border-radius: 0px 4px 0px 0px;
  border-bottom: 1px solid #dadada
}

#bottomhalf {
  height: 26.8%;
  width: 100%;
  background-color: #eaeaea;
  border-radius: 0px 0px 4px 0px;
}

.iconholder {
  height: 50px;
}

.icons {
  height: 33%;
  width: auto;
  margin: 33% 33% 33% 33%;
}

#griddiv {
  display: grid;
  width: 100%;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 235px 1500px 500px;
  grid-template-areas:
    "titl titl titl titl titl titl"
    "main main main main side side"
    "recc recc recc recc side side";
}

#titlediv {
  grid-area: titl;
}

#articletitle {
  margin: 0px;
  font-family: 'Unna', serif;
  font-size: calc(21px + 2.5vw);
  color: #2a2a2a;
}

#articlecategory {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  color: #1955a5;
}

#titleholder {
  width: 80%;
  margin-left: 10%;
  height: 180px;
  border-bottom: 1px solid #dadada;
}


#maindiv {
  grid-area: main;
  background-color: #afafaf;
  border-top: 0px;
  margin-left: 15%;
}

#sidediv {
  grid-area: side;
  border-top: 0px;
  margin-right: 30%;
  padding-left: 8.5%;
  padding-right: 2.5%;
}

#blackbox {
  width: 2rem;
  height: 0.25rem;
  background-color: #2a2a2a;
}

.sansserifheader {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

.blue {
    color: #1955a5;
}

#mostreadbox {
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 2px;
  border-style: solid;
  border-radius: 0px 0px 3px 3px;
  border-color: #dadada;
  margin-bottom: 60px;
}

.mostreadentry {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dadada;
  margin-left: 5%;
  margin-right: 5%;
}

.mostreadnumber {
  font-family: 'Libre Franklin', san-serif;
  font-weight: bold;
  font-size: 22px;
  color: #2a2a2a;
  margin-bottom: 0px;
  margin-top: 3%;
  width: 20px;
}

.mostreadtitle {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Heebo', sans-serif;
  font-weight: 0;
  color: #6a6a6a;
  margin-left: 30px;
  position: relative;
  bottom: 40px;
  width: 60%;
}

#mr1 {
  height: 60px;
}

#mr2{
  height: 90px;
}

#mr3{
  height: 60px;
}

#mr4{
  height: 90px;
}

#mr5{
  height: 90px;
}

#subscriptionbox {
  border-color: #dadada;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  border-radius: 0px 0px 2px 2px;
  height: 320px;
}

#subsimage {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 2%;
}

#substitle {
  margin: 0px;
  font-family: 'Unna', serif;
  font-size: 28px;
  color: #2a2a2a;
  width: 80%;
  margin-left: 10%;
}

#subbutton1 {
  background-color: #1955a5;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 44px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 2px;
}

#sb1txt, #sb2txt {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

#subbutton2 {
  height: 44px;
  border-style: solid;
  border-color: #dadada;
  border-width: 1px 1px 2px 1px;
  border-radius: 0px 0px 2px 2px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

#emailbox {
  border-style: solid;
  border-color: #dadada;
  border-width: 0px 0px 1px 0px;
}

#emailtitle {
  margin-top: 50px;
  margin-bottom: 10px;
}

#emaildesc {
  font-size: 15px;
  line-height: 18px;
  font-family: 'Heebo', sans-serif;
  margin: 0px 0px 20px 0px;
  width: 100%;
  color: #6a6a6a;
}

#emailinput {
  width: 66%;
  border-style: solid;
  border-color: #dadada;
  border-width: 1px;
  border-radius: 3px;
  height: 44px;
  font-family: 'Heebo', sans-serif;
  padding-left: 5%;
  font-size: 16px;
  color: #5a5a5a;
}

#emailbutton {
  width: 24%;
  height: 48px;
  background-color: #1955a5;
  border-radius: 2px;
  position: relative;
  bottom: 64px;
  left: 74%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#addtext {
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-top: 12px;
}

#webaddress {
  color: #2a2a2a;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0px;
}

#copyright {
color: #2a2a2a;
font-size: 14px;
font-family: 'Heebo', sans-serif;
margin-top: 10px;
margin-bottom: 30px;
}

.footerlinks {
  color: #2a2a2a;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

#reccdiv {
  grid-area: recc;
  background-color: #cfcfcf;
  margin-left: 15%;
}

}
